.button {
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: white;
	padding: 0.5em 1em;
	border-radius: 4px;
}

.button-primary {
	background-color: #09a129;
}
