html {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eee;
	height: 100%;
}

.search-field {
	display: block;
	padding: 0 1em;
}

a {
	color: unset;
	text-decoration: none;
}

.data-provider-attribution {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 30%;
	flex-wrap: wrap;
}

.data-provider-attribution img {
	height: 0.7em;
	display: block;
	padding-left: 0.5em;
}

@media screen and (min-width: 400px) {
	.data-provider-attribution {
		right: 1em;
		bottom: 1em;
	}

	.data-provider-attribution img {
		height: 1em;
	}
}
